assets/ABCflow.json
[
    {
        "id": "18c3a9bd64d21696",
        "type": "tab",
        "label": "Main Flow ABC Insurance",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "8a0c0ad22f3f4958",
        "type": "subflow",
        "name": "Membership Flow",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 100,
                "y": 80,
                "wires": [
                    {
                        "id": "a3f78755ac6f5076"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 720,
                "y": 80,
                "wires": [
                    {
                        "id": "a3f78755ac6f5076",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "33f517d15d4553b6",
        "type": "subflow",
        "name": "Nursing Flow",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 160,
                "y": 100,
                "wires": [
                    {
                        "id": "65d8426454295c2c"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 820,
                "y": 100,
                "wires": [
                    {
                        "id": "65d8426454295c2c",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "d98975f61196ce5d",
        "type": "subflow",
        "name": "Vaccination Flow",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 100,
                "y": 80,
                "wires": [
                    {
                        "id": "837858e916fa740e"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 800,
                "y": 80,
                "wires": [
                    {
                        "id": "837858e916fa740e",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "a3f78755ac6f5076",
        "type": "change",
        "z": "8a0c0ad22f3f4958",
        "name": "membership info",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Great mumbo jumbo on membership.",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 350,
        "y": 80,
        "wires": [
            [
                "bfecdd07a83da755"
            ]
        ]
    },
    {
        "id": "bfecdd07a83da755",
        "type": "play audio",
        "z": "8a0c0ad22f3f4958",
        "name": "membership info",
        "voice": "1",
        "x": 470,
        "y": 160,
        "wires": []
    },
    {
        "id": "65d8426454295c2c",
        "type": "change",
        "z": "33f517d15d4553b6",
        "name": "nursing_info",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Great mumbo jumbo on nursing care.",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 470,
        "y": 100,
        "wires": [
            [
                "83feede7d84c5312"
            ]
        ]
    },
    {
        "id": "83feede7d84c5312",
        "type": "play audio",
        "z": "33f517d15d4553b6",
        "name": "nursing care info",
        "voice": "1",
        "x": 570,
        "y": 180,
        "wires": []
    },
    {
        "id": "837858e916fa740e",
        "type": "change",
        "z": "d98975f61196ce5d",
        "name": "Vaccination info",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Great tips on vaccines.",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 80,
        "wires": [
            [
                "afa63da1e4dce4fe"
            ]
        ]
    },
    {
        "id": "afa63da1e4dce4fe",
        "type": "play audio",
        "z": "d98975f61196ce5d",
        "name": "vaccination info",
        "voice": "1",
        "x": 400,
        "y": 180,
        "wires": []
    },
    {
        "id": "08db20c88ad844f2",
        "type": "play audio",
        "z": "18c3a9bd64d21696",
        "name": "prompt_welcome",
        "voice": "1",
        "x": 250,
        "y": 260,
        "wires": []
    },
    {
        "id": "56371cd8ed4423de",
        "type": "inject",
        "z": "18c3a9bd64d21696",
        "name": "Start Flow",
        "props": [
            {
                "p": "state",
                "v": "{\"state\":[]}",
                "vt": "json"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 100,
        "y": 80,
        "wires": [
            [
                "93775f74ddb2f5d5"
            ]
        ]
    },
    {
        "id": "aefd294cf302351e",
        "type": "change",
        "z": "18c3a9bd64d21696",
        "name": "utterance_ins_no",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "W 1 2 3 4 5 6 7 8",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 530,
        "y": 80,
        "wires": [
            [
                "7e5c151e17117c6a",
                "ee2131cd293cc23f"
            ]
        ],
        "icon": "font-awesome/fa-commenting"
    },
    {
        "id": "7e5c151e17117c6a",
        "type": "play audio",
        "z": "18c3a9bd64d21696",
        "name": "utterance_ins_no",
        "voice": "3",
        "x": 590,
        "y": 260,
        "wires": []
    },
    {
        "id": "93775f74ddb2f5d5",
        "type": "change",
        "z": "18c3a9bd64d21696",
        "name": "prompt_welcome",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Welcome to the customer center of ABC insurance. Please tell me your insurance number. It starts with a letter, followed by 8 numbers.",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 290,
        "y": 80,
        "wires": [
            [
                "08db20c88ad844f2",
                "aefd294cf302351e"
            ]
        ],
        "icon": "font-awesome/fa-commenting-o"
    },
    {
        "id": "ee2131cd293cc23f",
        "type": "change",
        "z": "18c3a9bd64d21696",
        "name": "prompt_topic",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Thanks. What topic can I help you with today?",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 770,
        "y": 80,
        "wires": [
            [
                "a2a248b50dc9c9ae",
                "6da0a632c032f8e8"
            ]
        ],
        "icon": "font-awesome/fa-commenting-o"
    },
    {
        "id": "a2a248b50dc9c9ae",
        "type": "play audio",
        "z": "18c3a9bd64d21696",
        "name": "prompt_topic",
        "voice": "1",
        "x": 830,
        "y": 260,
        "wires": []
    },
    {
        "id": "6da0a632c032f8e8",
        "type": "change",
        "z": "18c3a9bd64d21696",
        "name": "utterance_topic",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "I want to find out about nursing care.",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1020,
        "y": 80,
        "wires": [
            [
                "1f7b19d7a189706b",
                "305e70fa8396a95d"
            ]
        ],
        "icon": "font-awesome/fa-commenting"
    },
    {
        "id": "1f7b19d7a189706b",
        "type": "play audio",
        "z": "18c3a9bd64d21696",
        "name": "utterance_topic",
        "voice": "3",
        "x": 1100,
        "y": 260,
        "wires": []
    },
    {
        "id": "2523f9f7278b09e1",
        "type": "switch",
        "z": "18c3a9bd64d21696",
        "name": "intent-based logic",
        "property": "state.intent",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "nursing_care",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "membership",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "vaccination",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 1730,
        "y": 80,
        "wires": [
            [
                "ee566db13f6f6700"
            ],
            [
                "f4f79b8b07ea4620"
            ],
            [
                "b6387a0c39a7a76f"
            ]
        ]
    },
    {
        "id": "305e70fa8396a95d",
        "type": "change",
        "z": "18c3a9bd64d21696",
        "name": "update state with NLU",
        "rules": [
            {
                "t": "set",
                "p": "state.intent",
                "pt": "msg",
                "to": "nursing_care",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1500,
        "y": 80,
        "wires": [
            [
                "2523f9f7278b09e1"
            ]
        ]
    },
    {
        "id": "9c3e3115f921020e",
        "type": "change",
        "z": "18c3a9bd64d21696",
        "name": "prompt_goodbye",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Ok. Thank you for using the ABC insurance hotline. Have a great day!",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 3350,
        "y": 180,
        "wires": [
            [
                "87cc8f03b09ac5eb"
            ]
        ],
        "icon": "font-awesome/fa-commenting-o"
    },
    {
        "id": "87cc8f03b09ac5eb",
        "type": "play audio",
        "z": "18c3a9bd64d21696",
        "name": "prompt_goodbye",
        "voice": "1",
        "x": 3130,
        "y": 380,
        "wires": []
    },
    {
        "id": "b661505aea2b2c13",
        "type": "change",
        "z": "18c3a9bd64d21696",
        "name": "prompt_help",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Can I help you with any other topic today?",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2570,
        "y": 440,
        "wires": [
            [
                "ea2d31dabbcbcf3d",
                "960a3236d98bd956"
            ]
        ],
        "icon": "font-awesome/fa-commenting-o"
    },
    {
        "id": "ea2d31dabbcbcf3d",
        "type": "play audio",
        "z": "18c3a9bd64d21696",
        "name": "prompt_help",
        "voice": "1",
        "x": 2570,
        "y": 620,
        "wires": []
    },
    {
        "id": "960a3236d98bd956",
        "type": "change",
        "z": "18c3a9bd64d21696",
        "name": "utterance_help_y_n",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "no, thank you.",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2850,
        "y": 440,
        "wires": [
            [
                "9a21bcd8ccde181e",
                "0359d6f390af67b7"
            ]
        ],
        "icon": "font-awesome/fa-commenting"
    },
    {
        "id": "9a21bcd8ccde181e",
        "type": "play audio",
        "z": "18c3a9bd64d21696",
        "name": "utterance_help_y_n",
        "voice": "3",
        "x": 2830,
        "y": 620,
        "wires": []
    },
    {
        "id": "8c045ff0708ee76d",
        "type": "http request",
        "z": "18c3a9bd64d21696",
        "name": "NLU endpoint query",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://google.com",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 1260,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "f4f79b8b07ea4620",
        "type": "subflow:8a0c0ad22f3f4958",
        "z": "18c3a9bd64d21696",
        "name": "Membership Flow",
        "x": 2050,
        "y": 160,
        "wires": [
            [
                "b661505aea2b2c13"
            ]
        ]
    },
    {
        "id": "ee566db13f6f6700",
        "type": "subflow:33f517d15d4553b6",
        "z": "18c3a9bd64d21696",
        "name": "Nursing Flow",
        "x": 2030,
        "y": 40,
        "wires": [
            [
                "b661505aea2b2c13"
            ]
        ]
    },
    {
        "id": "b6387a0c39a7a76f",
        "type": "subflow:d98975f61196ce5d",
        "z": "18c3a9bd64d21696",
        "name": "Vaccination Flow",
        "x": 2050,
        "y": 220,
        "wires": [
            [
                "b661505aea2b2c13"
            ]
        ]
    },
    {
        "id": "019a9e65e683fb88",
        "type": "switch",
        "z": "18c3a9bd64d21696",
        "name": "logic_help_y_n",
        "property": "state.intent",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "yes",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "no",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "no_intent",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 3120,
        "y": 180,
        "wires": [
            [
                "ee2131cd293cc23f"
            ],
            [
                "9c3e3115f921020e"
            ],
            [
                "b534de4ec5081c8d"
            ]
        ]
    },
    {
        "id": "0359d6f390af67b7",
        "type": "change",
        "z": "18c3a9bd64d21696",
        "name": "update state with NLU",
        "rules": [
            {
                "t": "set",
                "p": "state.intent",
                "pt": "msg",
                "to": "no",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2860,
        "y": 180,
        "wires": [
            [
                "019a9e65e683fb88"
            ]
        ]
    },
    {
        "id": "b534de4ec5081c8d",
        "type": "change",
        "z": "18c3a9bd64d21696",
        "name": "prompt_not_understood",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "I didn't catch that. Can I help you with another topic?",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 3430,
        "y": 100,
        "wires": [
            [
                "165fdfe317b2e252"
            ]
        ],
        "icon": "font-awesome/fa-commenting-o"
    },
    {
        "id": "165fdfe317b2e252",
        "type": "change",
        "z": "18c3a9bd64d21696",
        "name": "utterance_help_y_n",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "no, thank you.",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 3530,
        "y": 400,
        "wires": [
            [
                "0359d6f390af67b7"
            ]
        ],
        "icon": "font-awesome/fa-commenting"
    }
]